@import "tailwindcss";

@theme inline {
    --font-sans: "Fira Code", monospace;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes grow-width {
    from {
        width: 0%;
    }
}

.animate-fade-in {
    animation: fade-in 0.6s ease-out forwards;
}

@layer utilities {
    .animate-grow-width {
        animation: grow-width 1s ease-out forwards;
    }
}
